{{>header}}
<p align="center">
    <img src="https://www.jwu.edu/imgs/international/Culinary-JWU-1024x600.jpg" width="90%" id="chefs">
</p>

<main role="main" class="inner cover mt-5">
    <a href="#/register">
        <h1 class="cover-heading">Coooooking University</h1>
        <p class="lead">They say that food passes through the stomach, we say that food passes through CookUni...</p>
    </a>
</main>
<a href="#/register">
    <p align="center">
        <img src="https://media1.tenor.com/images/0467ef6a2c82f171654eb4dc42d2ec99/tenor.gif" width="70%" id="egg">
    </p>
</a>
{{>footer}}
