{{>header}}
<div id="notifications">
    <div id="successBox" class="alert alert-success alert-dismissible fade show" role="alert">Logout successful.</div>
    {{!-- <div id="loadingBox" class="alert alert-info alert-dismissible fade show" role="alert">Loading...</div>
    <div id="errorBox" class="alert alert-danger alert-dismissible fade show" role="alert">{Error Message...}</div> --}}
</div>
{{>footer}}