{{>header}}
<div id="notifications">
    <div id="successBox" class="alert alert-success alert-dismissible fade show" role="alert">User registration
        successful.</div>
    <div id="loadingBox" class="alert alert-info alert-dismissible fade show" role="alert">Loading...</div>
    <div id="errorBox" class="alert alert-danger alert-dismissible fade show" role="alert">{Error Message...}</div>
</div>
<form class="text-center p-5 form-layout" action="#/user" method="POST">

    <p class="h4 mb-4">Sign up</p>
    <div class="form-row mb-4">
        <div class="col">

            <input type="text" id="defaultRegisterFormFirstName" class="form-control" name="firstName"
                placeholder="First name">
        </div>
        <div class="col">

            <input type="text" id="defaultRegisterFormLastName" class="form-control" name="lastName"
                placeholder="Last name">
        </div>
    </div>

    <input type="text" id="defaultRegisterFormUsername" class="form-control mb-4" name="username"
        placeholder="Username">
    <input type="password" id="defaultRegisterFormPassword" class="form-control" name="password" placeholder="Password">
    <hr>
    <input type="password" id="defaultRegisterRepeatPassword" class="form-control" name="repeatPassword"
        placeholder="Repeat Password">
    <button class="btn btn-danger my-4 btn-block w-25 m-auto" type="submit">Sign up</button>

</form>
<br>
<p align="center" id="registrationImage">
    <img src="https://i.pinimg.com/originals/9d/91/81/9d91814713e79937a7f0f33181e277c1.gif">
</p>
{{>footer}}